


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100vh;
    background-color:  rgb(1, 48, 48) ;
}

header{
    height: 60px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "poppins" ;
    text-transform: capitalize;
}
header h5{
    padding: 20px;
    font-size: 20px;
    color:  rgba(1, 39, 39, 0.986);
    cursor: pointer;
}

ul li{
    display: inline-block;
    padding: 25px;
    color: black;
}
li a{
    color: black;
}

li a.active{
    background-color: black;
    color: white;
    padding: 20px;
}
li button{
    padding: 5px;
    border-radius: 10px;
    border: none;
    padding: 5px 20px 5px 20px;
    background-color:  rgb(1, 48, 48) ;
    
}
li button a{
    color: white;
}

/* MAIN */

.main{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}

.section{
    width: 50%;
    height: 200px;
    margin: 10px;
    margin-top: ;
    padding: 5px;
}
.section-text{
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-text p{
    font-size: 15px;
}

 label, input, button{
    margin-bottom: 10px;
    padding: 10px;
    text-transform: capitalize;
    font-family: "poppins";
    
}
label{
    color: white;

}
.section input{
    width: 50%;
    color: none;
    border: none;
   
}
.section input[type="text"], input[type="email"], input[type="password"]{
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 0.3px solid #3498db;
    transition: 0.25s;
    color: white;
}
.section input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    width: 400px;
    border-color: #2ecc71;
}
.section button{
    width: 30%;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}
.section button:hover{
    background-color: #2ecc71;
}
.display-image{
    margin-bottom: 7px;
    text-align: center;
}
.formm{
    text-align: center;
    margin-top: -90px;
}
.formm button:hover{
    background-color: #2ecc71;
    color: white;
}


.log{
    background-color: rgb(4, 133, 133);
    padding: 3px;
    
    
}
.log a{
    color: white;
    text-transform: capitalize;
}
.create a{
   color: rgb(1, 19, 19);
   text-transform: capitalize;
}
.create:hover{
    background-color: ;
}
